<launch>
<node pkg="gazebo_ros" type="spawn_model" name="model11" args="-urdf -model mycar11 -param robot_description -x 1 -y 1 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model12" args="-urdf -model mycar12 -param robot_description -x 1 -y 2 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model13" args="-urdf -model mycar13 -param robot_description -x 1 -y 3 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model14" args="-urdf -model mycar14 -param robot_description -x 1 -y 4 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model15" args="-urdf -model mycar15 -param robot_description -x 1 -y 5 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model16" args="-urdf -model mycar16 -param robot_description -x 1 -y 6 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model17" args="-urdf -model mycar17 -param robot_description -x 1 -y 7 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model18" args="-urdf -model mycar18 -param robot_description -x 1 -y 8 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model19" args="-urdf -model mycar19 -param robot_description -x 1 -y 9 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model110" args="-urdf -model mycar110 -param robot_description -x 1 -y 10 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model21" args="-urdf -model mycar21 -param robot_description -x 2 -y 1 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model22" args="-urdf -model mycar22 -param robot_description -x 2 -y 2 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model23" args="-urdf -model mycar23 -param robot_description -x 2 -y 3 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model24" args="-urdf -model mycar24 -param robot_description -x 2 -y 4 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model25" args="-urdf -model mycar25 -param robot_description -x 2 -y 5 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model26" args="-urdf -model mycar26 -param robot_description -x 2 -y 6 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model27" args="-urdf -model mycar27 -param robot_description -x 2 -y 7 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model28" args="-urdf -model mycar28 -param robot_description -x 2 -y 8 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model29" args="-urdf -model mycar29 -param robot_description -x 2 -y 9 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model210" args="-urdf -model mycar210 -param robot_description -x 2 -y 10 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model31" args="-urdf -model mycar31 -param robot_description -x 3 -y 1 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model32" args="-urdf -model mycar32 -param robot_description -x 3 -y 2 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model33" args="-urdf -model mycar33 -param robot_description -x 3 -y 3 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model34" args="-urdf -model mycar34 -param robot_description -x 3 -y 4 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model35" args="-urdf -model mycar35 -param robot_description -x 3 -y 5 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model36" args="-urdf -model mycar36 -param robot_description -x 3 -y 6 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model37" args="-urdf -model mycar37 -param robot_description -x 3 -y 7 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model38" args="-urdf -model mycar38 -param robot_description -x 3 -y 8 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model39" args="-urdf -model mycar39 -param robot_description -x 3 -y 9 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model310" args="-urdf -model mycar310 -param robot_description -x 3 -y 10 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model41" args="-urdf -model mycar41 -param robot_description -x 4 -y 1 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model42" args="-urdf -model mycar42 -param robot_description -x 4 -y 2 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model43" args="-urdf -model mycar43 -param robot_description -x 4 -y 3 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model44" args="-urdf -model mycar44 -param robot_description -x 4 -y 4 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model45" args="-urdf -model mycar45 -param robot_description -x 4 -y 5 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model46" args="-urdf -model mycar46 -param robot_description -x 4 -y 6 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model47" args="-urdf -model mycar47 -param robot_description -x 4 -y 7 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model48" args="-urdf -model mycar48 -param robot_description -x 4 -y 8 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model49" args="-urdf -model mycar49 -param robot_description -x 4 -y 9 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model410" args="-urdf -model mycar410 -param robot_description -x 4 -y 10 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model51" args="-urdf -model mycar51 -param robot_description -x 5 -y 1 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model52" args="-urdf -model mycar52 -param robot_description -x 5 -y 2 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model53" args="-urdf -model mycar53 -param robot_description -x 5 -y 3 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model54" args="-urdf -model mycar54 -param robot_description -x 5 -y 4 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model55" args="-urdf -model mycar55 -param robot_description -x 5 -y 5 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model56" args="-urdf -model mycar56 -param robot_description -x 5 -y 6 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model57" args="-urdf -model mycar57 -param robot_description -x 5 -y 7 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model58" args="-urdf -model mycar58 -param robot_description -x 5 -y 8 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model59" args="-urdf -model mycar59 -param robot_description -x 5 -y 9 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model510" args="-urdf -model mycar510 -param robot_description -x 5 -y 10 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model61" args="-urdf -model mycar61 -param robot_description -x 6 -y 1 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model62" args="-urdf -model mycar62 -param robot_description -x 6 -y 2 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model63" args="-urdf -model mycar63 -param robot_description -x 6 -y 3 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model64" args="-urdf -model mycar64 -param robot_description -x 6 -y 4 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model65" args="-urdf -model mycar65 -param robot_description -x 6 -y 5 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model66" args="-urdf -model mycar66 -param robot_description -x 6 -y 6 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model67" args="-urdf -model mycar67 -param robot_description -x 6 -y 7 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model68" args="-urdf -model mycar68 -param robot_description -x 6 -y 8 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model69" args="-urdf -model mycar69 -param robot_description -x 6 -y 9 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model610" args="-urdf -model mycar610 -param robot_description -x 6 -y 10 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model71" args="-urdf -model mycar71 -param robot_description -x 7 -y 1 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model72" args="-urdf -model mycar72 -param robot_description -x 7 -y 2 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model73" args="-urdf -model mycar73 -param robot_description -x 7 -y 3 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model74" args="-urdf -model mycar74 -param robot_description -x 7 -y 4 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model75" args="-urdf -model mycar75 -param robot_description -x 7 -y 5 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model76" args="-urdf -model mycar76 -param robot_description -x 7 -y 6 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model77" args="-urdf -model mycar77 -param robot_description -x 7 -y 7 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model78" args="-urdf -model mycar78 -param robot_description -x 7 -y 8 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model79" args="-urdf -model mycar79 -param robot_description -x 7 -y 9 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model710" args="-urdf -model mycar710 -param robot_description -x 7 -y 10 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model81" args="-urdf -model mycar81 -param robot_description -x 8 -y 1 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model82" args="-urdf -model mycar82 -param robot_description -x 8 -y 2 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model83" args="-urdf -model mycar83 -param robot_description -x 8 -y 3 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model84" args="-urdf -model mycar84 -param robot_description -x 8 -y 4 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model85" args="-urdf -model mycar85 -param robot_description -x 8 -y 5 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model86" args="-urdf -model mycar86 -param robot_description -x 8 -y 6 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model87" args="-urdf -model mycar87 -param robot_description -x 8 -y 7 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model88" args="-urdf -model mycar88 -param robot_description -x 8 -y 8 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model89" args="-urdf -model mycar89 -param robot_description -x 8 -y 9 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model810" args="-urdf -model mycar810 -param robot_description -x 8 -y 10 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model91" args="-urdf -model mycar91 -param robot_description -x 9 -y 1 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model92" args="-urdf -model mycar92 -param robot_description -x 9 -y 2 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model93" args="-urdf -model mycar93 -param robot_description -x 9 -y 3 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model94" args="-urdf -model mycar94 -param robot_description -x 9 -y 4 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model95" args="-urdf -model mycar95 -param robot_description -x 9 -y 5 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model96" args="-urdf -model mycar96 -param robot_description -x 9 -y 6 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model97" args="-urdf -model mycar97 -param robot_description -x 9 -y 7 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model98" args="-urdf -model mycar98 -param robot_description -x 9 -y 8 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model99" args="-urdf -model mycar99 -param robot_description -x 9 -y 9 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model910" args="-urdf -model mycar910 -param robot_description -x 9 -y 10 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model101" args="-urdf -model mycar101 -param robot_description -x 10 -y 1 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model102" args="-urdf -model mycar102 -param robot_description -x 10 -y 2 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model103" args="-urdf -model mycar103 -param robot_description -x 10 -y 3 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model104" args="-urdf -model mycar104 -param robot_description -x 10 -y 4 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model105" args="-urdf -model mycar105 -param robot_description -x 10 -y 5 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model106" args="-urdf -model mycar106 -param robot_description -x 10 -y 6 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model107" args="-urdf -model mycar107 -param robot_description -x 10 -y 7 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model108" args="-urdf -model mycar108 -param robot_description -x 10 -y 8 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model109" args="-urdf -model mycar109 -param robot_description -x 10 -y 9 -z 0"/>
<node pkg="gazebo_ros" type="spawn_model" name="model1010" args="-urdf -model mycar1010 -param robot_description -x 10 -y 10 -z 0"/>
</launch>
